#category-page {
    width: calc(100%-8rem);
    padding: 0.5rem 4rem;
}

.category-item {
    height: calc((100vw - 14rem)/4);
    background-color: white;
    transition: transform .4s;
    overflow: hidden;
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-item:hover {
    transform: scale(1.05);
}

#category-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin-bottom: 2rem;
}

.item-bottom {
    height: 50%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.item-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    margin-bottom: 1.2vw;
    text-transform: uppercase;
    color: #222b56;
}

.item-img {
    position: relative;
    width: 60%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10%;
}

@media(max-width: 768px) {
    #category-grid {
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
    }
    #category-page {
        width: calc(100%-4rem);
        padding: 0.5rem 2rem;
    }
    .category-item {
        height: calc(100vw - 4rem);
    }
    .item-name {
        font-size: 8vw;
        margin-bottom: 4vw;
    }
}