@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
}

body {
    background-color: #0093E9;
    background-image: linear-gradient(135deg, #0093E9 0%, #80D0C7 100%);
}

button {
    overflow: hidden;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}

z-link {
    cursor: pointer;
    user-select: none;
}

routeroutlet {
    display: block;
    position: relative;
}

#loading-frame {
    position: fixed;
    z-index: 101;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}